@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
	font-size: 62.5%;
	--color-white: #fafafa;
	--color-primary: #005a7b;
	--color-secondary: #0088ae;
	--color-btn: #c5e0e0;
	--color-shadow: rgba(0, 0, 0, 0.6);
}

body {
	min-height: 100vh;
	font-family: 'Lato', sans-serif;
	background-color: #f9fcff;
	background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
}

.tasks-manager {
	&__container {
		max-width: 1200px;
		margin: 0 auto;
	}

	&__header {
		display: flex;
		align-items: center;
		margin: 2em;
	}

	&__title {
		color: var(--color-primary);
		font-size: 4em;
		font-weight: bold;
	}

	&__ico {
		padding: 0.3em;
		font-size: 4.8em;
		color: var(--color-primary);
	}
}

.form {
	margin: 2.2em;
	padding: 1.5em;
	display: flex;
	align-items: center;

	&__label {
		margin: 0 0.3em;
		font-size: 2em;
		cursor: default;
	}

	&__input {
		margin: 0 0.3em;
		padding: 0.2em;
		font-size: 1.8em;
		border: 1px solid var(--color-primary);
		border-radius: 8px;
	}

	&__submit-btn {
		margin: 0 0.3em;
		font-size: 1.2em;
		padding: 0.7em 2em;
		border: none;
		border-radius: 0.5em;
		box-shadow: 0 0 5px var(--color-shadow);
		transition: all 0.3s;
		background-color: var(--color-btn);

		&:hover {
			background-color: var(--color-secondary);
			color: var(--color-white);
		}
	}
}

.tasks {
	margin: 2.2em;

	&__list {
		display: flex;
		flex-wrap: wrap;
	}
}

.task {
	margin: 2em;
	padding: 2em;
	background-color: #fff;
	min-width: calc(50% - 4em);
	border-radius: 8px;
	box-shadow: 0 0 15px var(--color-shadow);

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1.5em;
	}

	&__title {
		margin-left: 0.6em;
		font-size: 2.4em;
		font-weight: bold;
	}

	&__time {
		font-size: 3em;
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__btn {
		border: none;
		border-radius: 15px;
		margin: 1em;
		padding: 0.7em 2em;
		font-size: 1.8em;
		transition: all 0.3s;
		background-color: var(--color-btn);
		box-shadow: 0 0 8px var(--color-shadow);

		&:disabled {
			cursor: not-allowed;
		}

		&:hover:not(:disabled) {
			transform: scale(1.05);
		}

		&--start:not(:disabled) {
			&:hover {
				background-color: greenyellow;
			}
		}

		&--stop {
			&:hover:not(:disabled) {
				background-color: var(--color-secondary);
				color: var(--color-white);
			}
		}

		&--finish {
			&:hover {
				background-color: var(--color-primary);
				color: var(--color-white);
			}
		}

		&--finished {
			color: #ff6347;
		}

		&--remove {
			&:hover:not(:disabled) {
				background-color: #ff6347;
				color: var(--color-white);
			}
		}
	}
}
